{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class = "container-fluid">
  <div class="row justify-content-center">
      
      <div class="d-flex flex-column pb-1">
        <form class="form-signin" method="post">
        <h2 class="row justify-content-center mb-4">Acesse sua conta</h2>
        {% csrf_token %}
        <div class = "form-group">
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
        </div>
        <div class = "form-group">
          <input type="password" name="password1" autocomplete="on" id="inputPassword1" class="form-control" placeholder="Senha" required>
        </div>

        {% for field in registration_form %}
        <p>
          {% for error in field.erros %}
          <p style="color: red"> {{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        {% if registration_form.non_field_erros %}
        <div style="color: red">
          <p>{{ registration_form.non_field_erros}}</p>
        </div>

        {% endif %}

        <div class = "form-group">
			<div class="mt-4">
				<div class="d-flex justify-content-center links text-muted">
					Ainda não tem uma conta? <a href="{% url 'register' %}" class="ml-2">Registrar</a>
				</div>
			</div>
		</div>

		<div class = "form-group">
			<div class="d-flex justify-content-center links text-muted">
				Esqueceu a senha? <a href="#" class="ml-2">Redefinir</a>
			</div>
		</div>

          <div class = "form-group row justify-content-center">
            <button class="btn-lg btn-dark btn-block" style="background-color: #1A1F26; height: 50px;" type="submit">Entrar</button>
          </div>
          </form>
          </div>
  </div>
</div>

{% endblock %}