<style type="text/css">
  .card-signin{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

</style>


<div class = "container-fluid">
  <div class="row justify-content-center">
    <div class="card card-signin">
    <div class="card-body">
      <div class="d-flex flex-column pb-3">
      <form class="form-signin" method="post">{% csrf_token %}
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="email" required>

        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

        <input type="password" name="password1" autocomplete="on" id="inputPassword1" class="form-control" placeholder="Password" required>

        <input type="password" name="password2"  autocomplete="on" id="inputPassword2" class="form-control" placeholder="confirm password" required>

        <input type="text" name="instagram"  id="inputInstagram" class="form-control" placeholder="Instagram" required>

        <input type="text" name="state" id="inputState" class="form-control" placeholder="State" required>

        <input type="date" name="birth_date" id="inputDate" class="form-control">


        {% for field in registration_form %}
        <p>
          {% for error in field.errors %}
          <p style="color: green"> {{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        {% if registration_form.non_field_erros %}
        <div style="color: green">
          <p>{{ registration_form.non_field_erros}}</p>
        </div>

        {% endif %}
      </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </form>
    </div>
    </div>
  </div>
</div>