{% extends 'base.html' %}
{% block title %} Create Category! {% endblock %}

{% block content %}

{% if category_avaliations %}

<h1> {{cats}} </h1>

<ul>
  {% for avaliation in category_avaliations %}

  <li><a href="{% url 'avaliationDetail' avaliation.pk %}">{{avaliation.titleAvaliation}}</a> -
    {{avaliation.store_instagram}}<br /></li>
  <br /><br />
  <hr>
  <br />


  {% endfor %}

  {% else %}
  <h2> Sorry, dont have nothing in this category yet :( </h2>

</ul>
{% endif %}

{% endblock %}