{% extends 'base.html' %}
{% load static %}
{% block title %} Página inicial {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row mb-4">
    <div class="col col-12 col-sm-12">
      <h3 class="text-center">Destaques da semana</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-md-3">
      <div class="card">
        <h6 class="card-header text-center d-md-block d-none" style="background-color: #1A1F26; color: white;">Melhores avaliações</h6>
        <button type="button" class="card-header text-center estilo btn btn-dark d-block d-md-none" data-toggle="collapse" data-target="#melhor" aria-expanded="true" aria-controls="melhor" style="background-color: #1A1F26; color: white;">Melhores avaliações
        </button>
        <div class="collapse hide d-md-block" id="melhor">
          <ul class="list-group list-group-flush" >

            {% for avaliation in avaliationsGreater %}
            <li class="list-group-item"><a
                href="{% url 'avaliationDetail' avaliation.pk %}">{{avaliation.store_instagram}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-12 col-sm-6">
      <ul class="list-group list-group-flush">

        <!-- {% for avaliation in avaliations%}
        <div class="card mb-2">
          <li class="list-group-item"><a
              href="{% url 'avaliationDetail' avaliation.pk %}">{{avaliation.titleAvaliation}}</a> -
            {{avaliation.user_instagram}}</li>
        </div>
        {% endfor %}
        -->
      </ul>
    </div>
    <div class="col col-12 col-md-3">
      <div class="card">
        <h6 class="card-header text-center d-md-block d-none" style="background-color: #1A1F26; color: white;">Piores avaliações</h6>
        <button type="button" class="card-header text-center estilo btn btn-dark d-block d-md-none" data-toggle="collapse" data-target="#pior" aria-expanded="true" aria-controls="pior" style="background-color: #1A1F26; color: white;">Piores avaliações
        </button>
        <div class="collapse hide d-md-block" id="pior">
          <ul class="list-group list-group-flush">

            {% for avaliation in avaliationsWorse%}
            <li class="list-group-item"><a
                href="{% url 'avaliationDetail' avaliation.pk %}">{{avaliation.store_instagram}}</a></li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}