{% extends 'base.html' %}
{% load static %}
{% block title %} Criar formulario de avaliação {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .avaliation_container .btn {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>
<div class="user_card">
    <div class="d-flex justify-content-center">

        <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
                <h3 class="row justify-content-center mb-4" id="form-title">Cadastro de avaliação.</h3>
                {% csrf_token %}
                {{ form.user_instagram.errors }}
                <label for="basic-url">Instagram avaliado</label>

                <div class="input-group mb-3">
                    {{ form.user_instagram }}

                </div>
                <label for="basic-url">Categoria</label>
                <div class="dropdown show mb-2">
                    {{ form.category }}
                </div>
                <label for="basic-url">Descrição</label>
                <div class="campo input-group mb-2">
                    {{ form.description }}
                </div>
                <label for="basic-url">Titulo da Avaliação</label>
                <div class="input-group mb-2">
                    {{ form.titleAvaliation }}
                </div>
                <label for="basic-url">Velocidade de Entrega</label>
                <div class="input-group mb-2">
                    {{ form.deliveryTime }}
                </div>
                <label for="basic-url">Sua nota de Avaliação</label>
                <div class="input-group mb-2">
                    {{ form.ratingAvaliation }}
                </div>
                <div class="d-flex justify-content-center mt-3 avaliation_container mb-">
                    <input class="btn btn-dark btn-md" type="submit" value="Confirmar">
                    <input class="btn btn-dark btn-md" type="reset" value="Voltar"">
                    </div>
                </form>
            </div>
            </div> 
        </div>
    </div>

<script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder = '@lojinha';


    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>

{% endblock %}